* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    background: url(/resource/img/bg.jpg) top center no-repeat;
}

a {
    color: #FFFFFF;
    font-weight: bold;
}

.wrapper {
    width: 1000px;
    margin: 0 auto
}

.header {
    width: 1000px;
    height: 150px;
    background: url("/resource/img/logo.png");
    background: #ffe680;
}

.content {
    width: 1000px;
    height: 500px;
    background: #FFFFFF;
}

.MenuHead {
    display: block;
    margin-bottom: 20px;
}

.Menu {
    float: left;
    display: inline-block;
    height: 20px;
    background: #35886E;
    padding: 10px;
    color: #FFFFFF;
    font-size: 20px;
}

.Menu:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer {
    height: 999px;
    background: #35886E;
}